<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fp.dao.StutuitionMapper" >
  <resultMap id="BaseResultMap" type="com.fp.pojo.Stutuition" >
    <id column="stid" property="stid" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="tuition" property="tuition" jdbcType="DOUBLE" />
    <result column="did" property="did" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    stid, uid, state, tuition, did
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.fp.pojo.StutuitionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from stutuition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from stutuition
    where stid = #{stid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from stutuition
    where stid = #{stid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fp.pojo.StutuitionExample" >
    delete from stutuition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fp.pojo.Stutuition" >
    insert into stutuition (stid, uid, state, 
      tuition, did)
    values (#{stid,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{state,jdbcType=SMALLINT}, 
      #{tuition,jdbcType=DOUBLE}, #{did,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.fp.pojo.Stutuition" >
    insert into stutuition
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="stid != null" >
        stid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="tuition != null" >
        tuition,
      </if>
      <if test="did != null" >
        did,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="stid != null" >
        #{stid,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="tuition != null" >
        #{tuition,jdbcType=DOUBLE},
      </if>
      <if test="did != null" >
        #{did,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fp.pojo.StutuitionExample" resultType="java.lang.Integer" >
    select count(*) from stutuition
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update stutuition
    <set >
      <if test="record.stid != null" >
        stid = #{record.stid,jdbcType=BIGINT},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=SMALLINT},
      </if>
      <if test="record.tuition != null" >
        tuition = #{record.tuition,jdbcType=DOUBLE},
      </if>
      <if test="record.did != null" >
        did = #{record.did,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update stutuition
    set stid = #{record.stid,jdbcType=BIGINT},
      uid = #{record.uid,jdbcType=BIGINT},
      state = #{record.state,jdbcType=SMALLINT},
      tuition = #{record.tuition,jdbcType=DOUBLE},
      did = #{record.did,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fp.pojo.Stutuition" >
    update stutuition
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="tuition != null" >
        tuition = #{tuition,jdbcType=DOUBLE},
      </if>
      <if test="did != null" >
        did = #{did,jdbcType=BIGINT},
      </if>
    </set>
    where stid = #{stid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fp.pojo.Stutuition" >
    update stutuition
    set uid = #{uid,jdbcType=BIGINT},
      state = #{state,jdbcType=SMALLINT},
      tuition = #{tuition,jdbcType=DOUBLE},
      did = #{did,jdbcType=BIGINT}
    where stid = #{stid,jdbcType=BIGINT}
  </update>
</mapper>